USE [master]
GO
/****** Object:  Database [eTicaretDb]    Script Date: 22.7.2019 15:04:41 ******/
CREATE DATABASE [eTicaretDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eTicaretDb', FILENAME = N'C:\Users\mesut\eTicaretDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'eTicaretDb_log', FILENAME = N'C:\Users\mesut\eTicaretDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eTicaretDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eTicaretDb]
GO
USE [eTicaretDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22.7.2019 15:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminEmployees]    Script Date: 22.7.2019 15:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminEmployees](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[BirtDate] [date] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Mobile] [nvarchar](20) NULL,
	[Address] [nvarchar](150) NULL,
	[Phone2] [nvarchar](20) NULL,
	[Picture] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.AdminEmployees] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminLogins]    Script Date: 22.7.2019 15:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminLogins](
	[LoginID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleType] [int] NOT NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.AdminLogins] PRIMARY KEY CLUSTERED 
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 22.7.2019 15:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Picture1] [nvarchar](500) NULL,
	[Picture2] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[Category_CategoryID] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 22.7.2019 15:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[BirtDate] [date] NOT NULL,
	[Organization] [nvarchar](50) NULL,
	[Country] [nvarchar](20) NULL,
	[State] [nvarchar](20) NULL,
	[City] [nvarchar](20) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[AltEmail] [nvarchar](50) NULL,
	[Phone1] [nvarchar](20) NULL,
	[Phone2] [nvarchar](20) NULL,
	[Mobile1] [nvarchar](20) NULL,
	[Mobile2] [nvarchar](20) NULL,
	[Address] [nvarchar](150) NULL,
	[Picture] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NULL,
	[LastLogin] [datetime2](7) NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 22.7.2019 15:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [money] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22.7.2019 15:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDetailID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[ShippingID] [int] NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Taxes] [decimal](18, 2) NULL,
	[TotalAmount] [money] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Dispatched] [bit] NOT NULL,
	[DispatchDate] [datetime2](7) NOT NULL,
	[Shipped] [bit] NOT NULL,
	[ShippedDate] [datetime2](7) NOT NULL,
	[Deliver] [bit] NOT NULL,
	[DeliveryDate] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](150) NULL,
	[CancelOrder] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 22.7.2019 15:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[CreditAmount] [money] NOT NULL,
	[DebitAmount] [money] NOT NULL,
	[Balance] [money] NOT NULL,
	[PaymentDateTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_dbo.Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 22.7.2019 15:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[PayTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[PayTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 22.7.2019 15:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[SubCategoryID] [int] NOT NULL,
	[QuantityPerUnit] [nvarchar](20) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[OldPrice] [money] NULL,
	[UnitWeight] [nvarchar](20) NULL,
	[Size] [nvarchar](20) NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[UnitsInStock] [int] NOT NULL,
	[UnitOnOrder] [int] NULL,
	[ProductAvailable] [bit] NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[AltText] [nvarchar](200) NOT NULL,
	[ShortDescription] [nvarchar](300) NOT NULL,
	[LongDescription] [nvarchar](2000) NOT NULL,
	[Picture1] [nvarchar](500) NULL,
	[Picture2] [nvarchar](500) NULL,
	[Picture3] [nvarchar](500) NULL,
	[Picture4] [nvarchar](500) NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecentlyViews]    Script Date: 22.7.2019 15:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecentlyViews](
	[RViewID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ViewDate] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.RecentlyViews] PRIMARY KEY CLUSTERED 
(
	[RViewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 22.7.2019 15:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[Comment] [nvarchar](50) NOT NULL,
	[Rate] [int] NOT NULL,
	[DateTime] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22.7.2019 15:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingDetails]    Script Date: 22.7.2019 15:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingDetails](
	[ShippingID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Mobile] [nvarchar](20) NULL,
	[Address] [nvarchar](150) NOT NULL,
	[City] [nvarchar](20) NOT NULL,
	[PostalCode] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.ShippingDetails] PRIMARY KEY CLUSTERED 
(
	[ShippingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 22.7.2019 15:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[SubCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Picture1] [nvarchar](500) NULL,
	[Picture2] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SubCategories] PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 22.7.2019 15:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactTitle] [nvarchar](50) NULL,
	[Address] [nvarchar](150) NULL,
	[Mobile] [nvarchar](20) NULL,
	[Phone] [nvarchar](20) NULL,
	[Fax] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[City] [nvarchar](20) NULL,
	[Country] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishLists]    Script Date: 22.7.2019 15:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishLists](
	[WishListID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.WishLists] PRIMARY KEY CLUSTERED 
(
	[WishListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Picture1], [Picture2], [IsActive], [Category_CategoryID]) VALUES (2, N'Urunler', NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [UserName], [Password], [Gender], [BirtDate], [Organization], [Country], [State], [City], [PostalCode], [Email], [AltEmail], [Phone1], [Phone2], [Mobile1], [Mobile2], [Address], [Picture], [Status], [LastLogin], [CreatedDate], [Notes]) VALUES (4, N'ali', N'veli', N'aliveli', N'1234', 1, CAST(N'1989-10-08' AS Date), NULL, N'Türkiye', NULL, N'İstanbul', NULL, N'Null', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2019-05-28T00:00:00.0000000' AS DateTime2), CAST(N'2019-05-28' AS Date), NULL)
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [UserName], [Password], [Gender], [BirtDate], [Organization], [Country], [State], [City], [PostalCode], [Email], [AltEmail], [Phone1], [Phone2], [Mobile1], [Mobile2], [Address], [Picture], [Status], [LastLogin], [CreatedDate], [Notes]) VALUES (6, N'elif', N'çınar', N'elifcinar', N'1234', 0, CAST(N'1989-01-14' AS Date), NULL, N'Türkiye', NULL, N'Eskişehir', NULL, N'elifcinar26@hotmail.com', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2019-05-29T00:00:00.0000000' AS DateTime2), CAST(N'2019-05-29' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [ProductID], [CustomerID], [IsCompleted], [UnitPrice], [Quantity], [Discount], [TotalAmount], [OrderDate]) VALUES (5, 2, 4, 0, 16.4900, 10, CAST(0.00 AS Decimal(18, 2)), 164.9000, CAST(N'2019-05-29T12:27:40.8275625' AS DateTime2))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [ProductID], [CustomerID], [IsCompleted], [UnitPrice], [Quantity], [Discount], [TotalAmount], [OrderDate]) VALUES (6, 42, 4, 0, 12.7500, 4, CAST(0.00 AS Decimal(18, 2)), 51.0000, CAST(N'2019-05-29T12:28:26.4039309' AS DateTime2))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [ProductID], [CustomerID], [IsCompleted], [UnitPrice], [Quantity], [Discount], [TotalAmount], [OrderDate]) VALUES (7, 55, 4, 0, 8.7500, 1, CAST(0.00 AS Decimal(18, 2)), 8.7500, CAST(N'2019-05-29T14:14:49.8828606' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDetailID], [PaymentID], [ShippingID], [Discount], [Taxes], [TotalAmount], [IsCompleted], [OrderDate], [Dispatched], [DispatchDate], [Shipped], [ShippedDate], [Deliver], [DeliveryDate], [Notes], [CancelOrder]) VALUES (1, 33, 1, 1, CAST(0.00 AS Decimal(18, 2)), NULL, 7.9500, 1, CAST(N'2019-06-10T12:12:41.9042089' AS DateTime2), 0, CAST(N'2019-06-13T12:12:41.9042089' AS DateTime2), 0, CAST(N'2019-06-14T12:12:41.9042089' AS DateTime2), 0, CAST(N'2019-06-15T12:12:41.9042089' AS DateTime2), NULL, 0)
INSERT [dbo].[Orders] ([OrderID], [OrderDetailID], [PaymentID], [ShippingID], [Discount], [Taxes], [TotalAmount], [IsCompleted], [OrderDate], [Dispatched], [DispatchDate], [Shipped], [ShippedDate], [Deliver], [DeliveryDate], [Notes], [CancelOrder]) VALUES (2, 34, 1, 1, CAST(0.00 AS Decimal(18, 2)), NULL, 12.9000, 1, CAST(N'2019-06-10T12:12:41.9132151' AS DateTime2), 0, CAST(N'2019-06-13T12:12:41.9132151' AS DateTime2), 0, CAST(N'2019-06-14T12:12:41.9132151' AS DateTime2), 0, CAST(N'2019-06-15T12:12:41.9132151' AS DateTime2), NULL, 0)
INSERT [dbo].[Orders] ([OrderID], [OrderDetailID], [PaymentID], [ShippingID], [Discount], [Taxes], [TotalAmount], [IsCompleted], [OrderDate], [Dispatched], [DispatchDate], [Shipped], [ShippedDate], [Deliver], [DeliveryDate], [Notes], [CancelOrder]) VALUES (3, 36, 1, 1, CAST(0.00 AS Decimal(18, 2)), NULL, 39.5000, 1, CAST(N'2019-06-10T12:12:41.9152161' AS DateTime2), 0, CAST(N'2019-06-13T12:12:41.9152161' AS DateTime2), 0, CAST(N'2019-06-14T12:12:41.9152161' AS DateTime2), 0, CAST(N'2019-06-15T12:12:41.9152161' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [Type], [CreditAmount], [DebitAmount], [Balance], [PaymentDateTime]) VALUES (1, 1, 50000.0000, 50000.0000, 50000.0000, CAST(N'2019-06-10T12:12:40.8096568' AS DateTime2))
INSERT [dbo].[Payments] ([PaymentID], [Type], [CreditAmount], [DebitAmount], [Balance], [PaymentDateTime]) VALUES (2, 4, 50000.0000, 50000.0000, 50000.0000, CAST(N'2019-06-10T12:13:54.6145061' AS DateTime2))
INSERT [dbo].[Payments] ([PaymentID], [Type], [CreditAmount], [DebitAmount], [Balance], [PaymentDateTime]) VALUES (3, 1, 50000.0000, 50000.0000, 50000.0000, CAST(N'2019-06-10T12:24:22.1270990' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Payments] OFF
SET IDENTITY_INSERT [dbo].[PaymentTypes] ON 

INSERT [dbo].[PaymentTypes] ([PayTypeID], [TypeName], [Description]) VALUES (1, N'Kapıda Nakit Ödeme', NULL)
INSERT [dbo].[PaymentTypes] ([PayTypeID], [TypeName], [Description]) VALUES (2, N'Kapıda Kartla Ödeme', NULL)
INSERT [dbo].[PaymentTypes] ([PayTypeID], [TypeName], [Description]) VALUES (3, N'Havale', NULL)
SET IDENTITY_INSERT [dbo].[PaymentTypes] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [CustomerID], [ProductID], [Name], [Email], [Comment], [Rate], [DateTime], [IsDeleted]) VALUES (2, 4, 2, N'canali', N'canali@hotmail.com', N'bu urun cok lezzetli', 5, CAST(N'2019-05-30T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Reviews] ([ReviewID], [CustomerID], [ProductID], [Name], [Email], [Comment], [Rate], [DateTime], [IsDeleted]) VALUES (3, 5, 4, N'AslanKaplan', N'aslankaplan@hotmail.com', N'lezzetli bir meyve', 4, CAST(N'2019-05-29T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Reviews] ([ReviewID], [CustomerID], [ProductID], [Name], [Email], [Comment], [Rate], [DateTime], [IsDeleted]) VALUES (4, 6, 11, NULL, NULL, N'çok hoş bir meyve', 5, CAST(N'2019-05-29T00:00:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
SET IDENTITY_INSERT [dbo].[ShippingDetails] ON 

INSERT [dbo].[ShippingDetails] ([ShippingID], [FirstName], [LastName], [Email], [Mobile], [Address], [City], [PostalCode]) VALUES (1, N'mesut', N'çınar', NULL, NULL, N'arnavutköy', N'istanbul', NULL)
INSERT [dbo].[ShippingDetails] ([ShippingID], [FirstName], [LastName], [Email], [Mobile], [Address], [City], [PostalCode]) VALUES (2, N'mesut', N'çınar', NULL, NULL, N'arnavutköy', N'istanbul', NULL)
INSERT [dbo].[ShippingDetails] ([ShippingID], [FirstName], [LastName], [Email], [Mobile], [Address], [City], [PostalCode]) VALUES (3, N'mesut', N'çınar', NULL, NULL, N'arnavutköy', N'istanbul', NULL)
SET IDENTITY_INSERT [dbo].[ShippingDetails] OFF
SET IDENTITY_INSERT [dbo].[SubCategories] ON 

INSERT [dbo].[SubCategories] ([SubCategoryID], [CategoryID], [Name], [Description], [Picture1], [Picture2], [IsActive]) VALUES (2, 2, N'Meyve', NULL, NULL, NULL, 1)
INSERT [dbo].[SubCategories] ([SubCategoryID], [CategoryID], [Name], [Description], [Picture1], [Picture2], [IsActive]) VALUES (3, 2, N'Sebze', NULL, NULL, NULL, 1)
INSERT [dbo].[SubCategories] ([SubCategoryID], [CategoryID], [Name], [Description], [Picture1], [Picture2], [IsActive]) VALUES (4, 2, N'Pet', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[SubCategories] OFF
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactName], [ContactTitle], [Address], [Mobile], [Phone], [Fax], [Email], [City], [Country]) VALUES (1, N'Migros', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactName], [ContactTitle], [Address], [Mobile], [Phone], [Fax], [Email], [City], [Country]) VALUES (2, N'Whiskas', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactName], [ContactTitle], [Address], [Mobile], [Phone], [Fax], [Email], [City], [Country]) VALUES (3, N'İstanbul Hali', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
SET IDENTITY_INSERT [dbo].[WishLists] ON 

INSERT [dbo].[WishLists] ([WishListID], [CustomerID], [ProductID], [IsActive]) VALUES (1, 4, 2, 1)
INSERT [dbo].[WishLists] ([WishListID], [CustomerID], [ProductID], [IsActive]) VALUES (2, 4, 4, 1)
INSERT [dbo].[WishLists] ([WishListID], [CustomerID], [ProductID], [IsActive]) VALUES (3, 4, 11, 1)
SET IDENTITY_INSERT [dbo].[WishLists] OFF
/****** Object:  Index [IX_EmpID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_EmpID] ON [dbo].[AdminLogins]
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleType]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_RoleType] ON [dbo].[AdminLogins]
(
	[RoleType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_CategoryID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_Category_CategoryID] ON [dbo].[Categories]
(
	[Category_CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerID] ON [dbo].[OrderDetails]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[OrderDetails]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetailID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetailID] ON [dbo].[Orders]
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_PaymentID] ON [dbo].[Orders]
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShippingID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_ShippingID] ON [dbo].[Orders]
(
	[ShippingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Type]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_Type] ON [dbo].[Payments]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubCategoryID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_SubCategoryID] ON [dbo].[Products]
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupplierID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_SupplierID] ON [dbo].[Products]
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerID] ON [dbo].[RecentlyViews]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[RecentlyViews]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerID] ON [dbo].[Reviews]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[Reviews]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[SubCategories]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerID] ON [dbo].[WishLists]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 22.7.2019 15:04:42 ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[WishLists]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AdminLogins_dbo.AdminEmployees_EmpID] FOREIGN KEY([EmpID])
REFERENCES [dbo].[AdminEmployees] ([EmpID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdminLogins] CHECK CONSTRAINT [FK_dbo.AdminLogins_dbo.AdminEmployees_EmpID]
GO
ALTER TABLE [dbo].[AdminLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AdminLogins_dbo.Roles_RoleType] FOREIGN KEY([RoleType])
REFERENCES [dbo].[Roles] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdminLogins] CHECK CONSTRAINT [FK_dbo.AdminLogins_dbo.Roles_RoleType]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Categories_Category_CategoryID] FOREIGN KEY([Category_CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Categories_Category_CategoryID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Customers_CustomerID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.OrderDetails_OrderDetailID] FOREIGN KEY([OrderDetailID])
REFERENCES [dbo].[OrderDetails] ([OrderDetailID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.OrderDetails_OrderDetailID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Payments_PaymentID] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Payments_PaymentID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.ShippingDetails_ShippingID] FOREIGN KEY([ShippingID])
REFERENCES [dbo].[ShippingDetails] ([ShippingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.ShippingDetails_ShippingID]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payments_dbo.PaymentTypes_Type] FOREIGN KEY([Type])
REFERENCES [dbo].[PaymentTypes] ([PayTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_dbo.Payments_dbo.PaymentTypes_Type]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.SubCategories_SubCategoryID] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[SubCategories] ([SubCategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.SubCategories_SubCategoryID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Suppliers_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Suppliers_SupplierID]
GO
ALTER TABLE [dbo].[RecentlyViews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RecentlyViews_dbo.Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecentlyViews] CHECK CONSTRAINT [FK_dbo.RecentlyViews_dbo.Customers_CustomerID]
GO
ALTER TABLE [dbo].[RecentlyViews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RecentlyViews_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecentlyViews] CHECK CONSTRAINT [FK_dbo.RecentlyViews_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reviews_dbo.Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_dbo.Reviews_dbo.Customers_CustomerID]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reviews_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_dbo.Reviews_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubCategories_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_dbo.SubCategories_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[WishLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WishLists_dbo.Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishLists] CHECK CONSTRAINT [FK_dbo.WishLists_dbo.Customers_CustomerID]
GO
ALTER TABLE [dbo].[WishLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WishLists_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishLists] CHECK CONSTRAINT [FK_dbo.WishLists_dbo.Products_ProductID]
GO
USE [master]
GO
